### Exercise 4:
In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. 
- Create a pandas dataframe, df_iris, from this data.

In [1]:
import pandas as pd
from acquire import get_iris_data

In [2]:
#renaming the db
df_iris = get_iris_data()
df_iris.head()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1
3,3,4,4.6,3.1,1.5,0.2,1
4,4,5,5.0,3.6,1.4,0.2,1

In [3]:
#Print the first 3 rows:
df_iris.head(3)

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1

In [4]:
#print the number of rows and columns (shape)
df_iris.shape

(150, 7)

In [5]:
#print the column names
df_iris.columns

Index(['Unnamed: 0', 'measurement_id', 'sepal_length', 'sepal_width',
       'petal_length', 'petal_width', 'species_id'],
      dtype='object')

In [6]:
#print the data type of each column
df_iris.dtypes

Unnamed: 0          int64
measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
dtype: object

In [12]:
#print the summary statistics for each of the numeric variables
df_iris_t= df_iris.describe().T

In [13]:
df_iris_t= df_iris['range'] = df_iris['max'] - df_iris['min']
df_iris

KeyError: 'max'

### Exercise 5:
Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

In [14]:
from acquire import google_sheets

In [15]:
df_google_sheets=google_sheets()

In [16]:
df_google_sheets

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No,13.5
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes,22.0
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No,1.8
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No,68.2
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No,62.8

In [17]:
#assign the first 100 rows to a new dataframe, df_google_sheets_sample
df_google_sheets_sample = df_google_sheets.head(100)
df_google_sheets_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No,73.9
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No,24.1
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No,18.0
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No,72.9
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No,33.6

In [18]:
#print the number of rows of your original dataframe
df_google_sheets.shape

(7049, 13)

In [19]:
#print the first 5 column names
df_google_sheets.iloc[:0,:5]

Empty DataFrame
Columns: [customer_id, gender, is_senior_citizen, partner, dependents]
Index: []

In [20]:
#OR....
df_google_sheets.columns[:5] #slicing data with the []

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [21]:
#print the column names that have a data type of object
df_google_sheets.dtypes[df_google_sheets.dtypes == "object"].index.values

array(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'], dtype=object)

In [22]:
#OR..
df_google_sheets.select_dtypes(include='object').describe()

       customer_id gender partner dependents      payment_type churn
count         7049   7049    7049       7049              7049  7049
unique        7043      2       2          2                 4     2
top     0048-LUMLS   Male      No         No  Electronic check    No
freq             2   3558    3642       4934              2365  5179

In [23]:
df_google_sheets.select_dtypes(include='object').columns.tolist()

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [24]:
#compute the range for each of the numeric variables.
float=df_google_sheets.dtypes[df_google_sheets.dtypes == "float"].index.values

float

array(['monthly_charges', 'total_charges', 'tenure'], dtype=object)

In [25]:
monthly_range = df_google_sheets.monthly_charges.max()-df_google_sheets.monthly_charges.min()
total_range = df_google_sheets.total_charges.max()-df_google_sheets.total_charges.min()
tenure_range = df_google_sheets.tenure.max()-df_google_sheets.tenure.min()

monthly_range,total_range,tenure_range

(100.5, 8666.0, 79.3)

In [26]:
### Another way of doing this:
df_google_sheets.describe()

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure
count,7049.000000,7049.000000,7049.000000,7049.000000,7049.000000,7038.000000,7049.000000
mean,0.162009,1.324585,1.222585,0.690878,64.747014,2283.043883,32.380068
std,0.368485,0.642709,0.779068,0.833757,30.099460,2266.521984,24.594926
min,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,35.450000,401.587500,8.700000
50%,0.000000,1.000000,1.000000,0.000000,70.350000,1397.100000,28.700000
75%,0.000000,2.000000,2.000000,1.000000,89.850000,3793.775000,55.200000
max,1.000000,2.000000,2.000000,2.000000,118.750000,8684.800000,79.300000

In [27]:
df_google_sheets.describe().loc[['min','max']]

,is_senior_citizen,phone_service,internet_service,contract_type,monthly_charges,total_charges,tenure
min,0.0,0.0,0.0,0.0,18.25,18.8,0.0
max,1.0,2.0,2.0,2.0,118.75,8684.8,79.3

In [28]:
df_google_sheets.describe().T

,count,mean,std,min,25%,50%,75%,max
is_senior_citizen,7049.0,0.162009,0.368485,0.00,0.0000,0.00,0.000,1.00
phone_service,7049.0,1.324585,0.642709,0.00,1.0000,1.00,2.000,2.00
internet_service,7049.0,1.222585,0.779068,0.00,1.0000,1.00,2.000,2.00
contract_type,7049.0,0.690878,0.833757,0.00,0.0000,0.00,1.000,2.00
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80
tenure,7049.0,32.380068,24.594926,0.00,8.7000,28.70,55.200,79.30

In [29]:
df_google_sheets[['max','min']].describe().T

KeyError: "None of [Index(['max', 'min'], dtype='object')] are in the [columns]"

In [30]:
df=df_google_sheets['range']= df_google_sheets['max'] - df_google_sheets['min']

KeyError: 'max'

### Exercise 6:

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [31]:
#when acquiring data (using the acquire.py, remember to import either wholesale of the file OR use the FROM acquire import____df wantied)
from acquire import excel_file
df_excel = excel_file()
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [32]:
#assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample=df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.60,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.90,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.90,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.00,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.90,267.40,Yes,3.187128
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0164-APGRB,Female,0.0,No,No,2.0,2.0,2.0,Electronic check,114.90,8496.70,No,73.948651
96,0164-XAIRP,Female,0.0,No,No,1.0,0.0,2.0,Bank transfer (automatic),19.55,470.20,No,24.051151
97,0168-XZKBB,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,86.85,1564.40,No,18.012666
98,0174-QRVVY,Male,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),25.35,1847.55,No,72.881657
99,0177-PXBAT,Male,1.0,Yes,No,2.0,2.0,0.0,Bank transfer (automatic),109.90,3694.70,No,33.618744

In [33]:
#print the number of rows of your original dataframe
df_excel.shape

(7049, 13)

In [34]:
#print the first 5 column names
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [38]:
#print the column names that have a data type of object
df_excel.columns.select_dtypes[include =='object']

AttributeError: 'Index' object has no attribute 'select_dtypes'

### Acquire.py Functions

#### Exercise One of acquire.py functions:

In [45]:
import acquire

In [46]:
titanic_df = acquire.get_titanic_data() ## need to add the data/functions to acquire
titanic_df.head()

AttributeError: module 'acquire' has no attribute 'get_titanic_data'

#### Exercise Two of acquire.py function