### Exercise 4:
In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. 
- Create a pandas dataframe, df_iris, from this data.

In [1]:
import pandas as pd
from acquire import get_iris_data

In [2]:
#renaming the db
df = get_iris_data()
df.head()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1
3,3,4,4.6,3.1,1.5,0.2,1
4,4,5,5.0,3.6,1.4,0.2,1

In [3]:
#Print the first 3 rows:
df.head(3)

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1

In [4]:
#print the number of rows and columns (shape)
df.shape

(150, 7)

In [5]:
#print the column names
df.columns

Index(['Unnamed: 0', 'measurement_id', 'sepal_length', 'sepal_width',
       'petal_length', 'petal_width', 'species_id'],
      dtype='object')

In [6]:
#print the data type of each column
df.dtypes

Unnamed: 0          int64
measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_id          int64
dtype: object

In [7]:
#print the summary statistics for each of the numeric variables
df.describe()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,74.500000,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000
std,43.445368,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232
min,0.000000,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000
25%,37.250000,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000
50%,74.500000,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000
75%,111.750000,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000
max,149.000000,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000

### Exercise 5:
Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

In [12]:
df_google_sheets = df_googlesheet()

NameError: name 'df_googlesheet' is not defined