In [1]:
import math
from scipy import stats
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
from pydataset import data
import statistics
import seaborn as sns
from pydataset import data

import acquire as aq
import prepare as prep

from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

## Data Acquisition Exercises

### Exercise 4:
In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. 
- Create a pandas dataframe, df_iris, from this data.

In [2]:
import pandas as pd
from acquire import get_iris_data

In [3]:
#renaming the db
df_iris = get_iris_data()
df_iris.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

- print the first 3 rows ✅ 
- print the number of rows and columns (shape) ✅ 
- print the column names ✅ 
- print the data type of each column ✅ 
- print the summary statistics for each of the numeric variables ✅

In [4]:
#Print the first 3 rows:
df_iris.head(3)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2

In [5]:
#print the number of rows and columns (shape)
df_iris.shape

(150, 6)

In [6]:
#print the column names
df_iris.columns

Index(['species_id', 'species_name', 'sepal_length', 'sepal_width',
       'petal_length', 'petal_width'],
      dtype='object')

In [7]:
#print the data type of each column
df_iris.dtypes

species_id        int64
species_name     object
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [8]:
#print the summary statistics for each of the numeric variables
df_iris_t= df_iris.describe().T
df_iris_t

              count      mean       std  min  25%   50%  75%  max
species_id    150.0  2.000000  0.819232  1.0  1.0  2.00  3.0  3.0
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### Exercise 5:
Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

Make sure that the spreadsheet is publicly visible under your sharing settings.

In [9]:
from acquire import google_sheets

In [10]:
#creating table1_custdetails into a dataframe named df_google_sheets
df_google_sheets=google_sheets()

In [11]:
df_google_sheets

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No,13.5
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes,22.0
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No,1.8
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No,68.2
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No,62.8

- assign the first 100 rows to a new dataframe, df_google_sheets_sample ✅ 
- print the number of rows of your original dataframe ✅ 
- print the first 5 column names ✅ 
- print the column names that have a data type of object ✅ 
- compute the range for each of the numeric variables. ✅

In [12]:
#assign the first 100 rows to a new dataframe, df_google_sheets_sample
df_google_sheets_sample = df_google_sheets.head(100)
df_google_sheets_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No,8.2
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No,72.1
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No,63.5
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No,7.1
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No,65.9
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No,54.4
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No,72.4
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No,5.1
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No,71.7
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No,56.8
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No,71.5
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No,32.5
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No,1.0
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes,44.5
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes,1.0
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No,51.8
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes,12.9
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No,22.1
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No,2.9
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes,3.8
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes,1.0
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No,54.5
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No,53.5
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No,24.1
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No,70.9
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No,35.6
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No,44.1
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No,68.6
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No,65.4
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No,20.9
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No,42.6
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No,55.2
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No,59.1
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No,11.1
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No,25.5
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes,1.8
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No,26.6
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No,24.7
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No,26.2
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No,27.6
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No,74.2
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No,14.1
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No,35.6
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No,1.0
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No,27.7
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No,68.5
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No,37.7
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No,40.1
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes,38.6
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes,11.8
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No,6.2
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No,29.3
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No,27.3
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No,69.7
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No,57.2
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No,57.2
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No,17.0
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No,70.5
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes,1.0
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes,1.0
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No,30.5
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No,15.9
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes,48.1
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No,71.2
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No,33.9
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No,9.4
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes,20.8
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes,36.0
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No,25.6
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No,49.4
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes,6.9
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No,62.7
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes,15.3
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No,25.0
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No,71.3
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No,42.2
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No,66.9
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes,2.1
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No,43.7
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes,11.7
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No,69.4
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes,1.0
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes,3.2
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No,2.1
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No,27.8
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No,25.2
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No,39.0
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes,24.9
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes,1.0
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes,21.3
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No,73.9
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No,24.1
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No,18.0
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No,72.9
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No,33.6

In [13]:
#print the number of rows of your original dataframe
df_google_sheets.shape

(7049, 13)

In [14]:
#print the first 5 column names
df_google_sheets.iloc[:0,:5]

Empty DataFrame
Columns: [customer_id, gender, is_senior_citizen, partner, dependents]
Index: []

In [15]:
#OR....
df_google_sheets.columns[:5] #slicing data with the []

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [16]:
#print the column names that have a data type of object
df_google_sheets.dtypes[df_google_sheets.dtypes == "object"].index.values

array(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'], dtype=object)

In [17]:
#OR..
df_google_sheets.select_dtypes(include='object').describe()

       customer_id gender partner dependents      payment_type churn
count         7049   7049    7049       7049              7049  7049
unique        7043      2       2          2                 4     2
top     0048-LUMLS   Male      No         No  Electronic check    No
freq             2   3558    3642       4934              2365  5179

In [18]:
df_google_sheets.select_dtypes(include='object').columns.tolist()

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [19]:
#compute the range for each of the numeric variables.
#seeing which dtypes are float (as int64 ones are all boolean in this df)

float=df_google_sheets.dtypes[df_google_sheets.dtypes == "float"].index.values

float

array(['monthly_charges', 'total_charges', 'tenure'], dtype=object)

In [20]:
#taking these float columns and finding their range

monthly_range = df_google_sheets.monthly_charges.max()-df_google_sheets.monthly_charges.min()
total_range = df_google_sheets.total_charges.max()-df_google_sheets.total_charges.min()
tenure_range = df_google_sheets.tenure.max()-df_google_sheets.tenure.min()

monthly_range,total_range,tenure_range

(100.5, 8666.0, 79.3)

In [21]:
### Another way of doing this:
#first, move describe horizontally for statistical totals to be the columns
df_google_sheets.describe().T

,count,mean,std,min,25%,50%,75%,max
is_senior_citizen,7049.0,0.162009,0.368485,0.00,0.0000,0.00,0.000,1.00
phone_service,7049.0,1.324585,0.642709,0.00,1.0000,1.00,2.000,2.00
internet_service,7049.0,1.222585,0.779068,0.00,1.0000,1.00,2.000,2.00
contract_type,7049.0,0.690878,0.833757,0.00,0.0000,0.00,1.000,2.00
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80
tenure,7049.0,32.380068,24.594926,0.00,8.7000,28.70,55.200,79.30

In [22]:
#let's name this describe().T as a function/df so as to use in finding the range
df_t=df_google_sheets.describe().T
df_t

,count,mean,std,min,25%,50%,75%,max
is_senior_citizen,7049.0,0.162009,0.368485,0.00,0.0000,0.00,0.000,1.00
phone_service,7049.0,1.324585,0.642709,0.00,1.0000,1.00,2.000,2.00
internet_service,7049.0,1.222585,0.779068,0.00,1.0000,1.00,2.000,2.00
contract_type,7049.0,0.690878,0.833757,0.00,0.0000,0.00,1.000,2.00
monthly_charges,7049.0,64.747014,30.099460,18.25,35.4500,70.35,89.850,118.75
total_charges,7038.0,2283.043883,2266.521984,18.80,401.5875,1397.10,3793.775,8684.80
tenure,7049.0,32.380068,24.594926,0.00,8.7000,28.70,55.200,79.30

In [23]:
#now, let's just look at the max and min columns
df_t[['max','min']].describe().T

     count         mean          std  min  25%  50%     75%     max
max    7.0  1269.978571  3269.970313  1.0  2.0  2.0  99.025  8684.8
min    7.0     5.292857     9.040669  0.0  0.0  0.0   9.125    18.8

In [24]:
#let's get the range, but subtracting the min from the max of each numeric variable
df_t.max() - df_t.min()

count      11.000000
mean     2282.881874
std      2266.153499
min        18.800000
25%       401.587500
50%      1397.100000
75%      3793.775000
max      8683.800000
dtype: float64

### Exercise 6:

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [25]:
#when acquiring data (using the acquire.py, remember to import either wholesale of the file OR use the FROM acquire import____df wantied)
from acquire import excel_file
df_excel = excel_file()
df_excel.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Jennifer Eyring - jemison_spreadsheet_exercises.xlsx'

- assign the first 100 rows to a new dataframe, df_excel_sample ✅ 
- print the first 5 column names ✅ 
- print the column names that have a data type of object ✅ 
- compute the range for each of the numeric variables. ✅

In [ ]:
#assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample=df_excel.head(100)
df_excel_sample

In [ ]:
#print the number of rows of your original dataframe
df_excel.shape

In [ ]:
#print the first 5 column names
df_excel.columns[:5]

In [ ]:
#print the column names that have a data type of object
df_excel.dtypes[df_excel.dtypes == 'object']

### Exercise 7:
Read the data from this google sheet into a dataframe, df_google.

In [ ]:
from acquire import get_train_data
df_train=get_train_data()
df_train

- print the first 3 rows ✅ 
- print the number of rows and columns ✅ 
- print the column names ✅ 
- print the data type of each column ✅ 
- print the summary statistics for each of the numeric variables ✅ 
- print the unique values for each of your categorical variables ✅

In [ ]:
#First three rows
df_train.head(3)

In [ ]:
#Number of rows and columns
df_train.shape

In [ ]:
#Column names
df_train.columns

In [ ]:
#Datatypes 
df_train.dtypes

In [ ]:
#summary statistics of numerical values
df_train.describe().T

In [ ]:
#Find the unique variables in these categorical columns
#note, do NOT add name as that sends back EVERY unique name...
cat_values=df_train[['Survived','Sex','Pclass','SibSp','Parch','Embarked']]
for col in cat_values.columns:
    print(col, cat_values[col].dropna().unique())

## Data Preparation Exercises

The end product of this exercise should be the specified functions in a python script named prepare.py. Do these in your classification_exercises.ipynb first, then transfer to the prepare.py file.

This work should all be saved in your local classification-exercises repo. Then add, commit, and push your changes.

<b>Using the Iris Data:</b>

- Use the function defined in acquire.py to load the iris data. ✅ 

- Drop the species_id and measurement_id columns. ✅ 

- Rename the species_name column to just species. ✅ 

- Create dummy variables of the species name. ✅ 

- Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied. ✅

In [ ]:
import acquire
import prepare
import pandas as pd
df = acquire.get_iris_data()
df.head()

#Drop duplicates
df.drop_duplicates(inplace=True)
df

#### Takeaways: Next for Cleaning
- Drop the Unnamed, species_id and measurement_id columns
- Rename the species_name column to just 'species'

In [ ]:
#drop the columns
columns_to_drop = ['species_id']
#rename df so it does not interfere with og df
sepal_data = df.drop(columns=columns_to_drop) 
sepal_data

In [ ]:
sepal_data.rename(columns = {'species_name':'species'}, inplace = True)
sepal_data

#### Takeaways, and next steps:
- Create dummy variables of the species name.

- Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
#create dummy variables of the species name
dummy_df = pd.get_dummies(sepal_data[['species']], dummy_na=False, drop_first=[True])
dummy_df

In [ ]:
# Concatenate my dummy_df to my data
sepal_data1= pd.concat([sepal_data, dummy_df], axis=1)
sepal_data1

In [ ]:
#testing the function by grabbig a new version of the dirty data (get_iris..) and applying the clean_df function
df = acquire.get_iris_data() #grabbing old dataset
clean_df= prepare.prep_iris(df) #applying clean function
clean_df

#### Using the Titanic Dataset

Use the function defined in acquire.py to load the Titanic data.

- Drop any unnecessary, unhelpful, or duplicated columns.

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

- Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [ ]:
from acquire import new_titanic_data
df = new_titanic_data()

#Drop duplicates
df.drop_duplicates(inplace=True)
df

### Takeaways: 
- Drop columns class, embarked and passenger_id ✅ 
- Drop deck: not needed/too many NaNs ✅

In [ ]:
#Drop columns
columns_to_drop=['embarked', 'class', 'passenger_id', 'deck']

In [ ]:
data = df.drop(columns=columns_to_drop) #saved as a new variable so as not to mess up original data
data

### Encoding: Turning categorical columns into Boolean
- sex, embark_town (so both are easier to pull data)
    -we concat to the add to our data df ✅

In [ ]:
#let's encode sex and embark_town
dummy_df = pd.get_dummies(data[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
data= pd.concat([data, dummy_df], axis=1)
data

In [ ]:
#Create a function named prep_titanic that accepts the raw titanic data, 
#and returns the data with the transformations above applied.
def clean_titanic_data(data):
    '''
    Takes in a titanic dataframe and returns a clean dataframe
    Arguments: df - a pandas dataframe with the expected feature names and columns
    Return: clean_df - a dataframe with the cleaning operations performed on it
    '''
    #Drop duplicates
    df.drop_duplicates(inplace=True)
    #Drop columns
    columns_to_drop=['embarked', 'class', 'passenger_id', 'deck']
    data = df.drop(columns=columns_to_drop) #saved as a new variable so as not to mess up original data
    #Encoding categorical variables
    dummy_df = pd.get_dummies(data[['sex', 'embark_town']], dummy_na=False, drop_first=[True, True])
    data= pd.concat([data, dummy_df], axis=1)
    return data.drop(columns=['sex','embark_town'])

In [ ]:
df = acquire.new_titanic_data()
prep_titanic = clean_titanic_data(data)
prep_titanic

### Using the Telco dataset:

Use the function defined in acquire.py to load the Telco data.

- Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

- Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

- Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [ ]:
import pandas as pd
from acquire import google_sheets
df = google_sheets()
df.info()

In [ ]:
#wondering what contract_type was...
df.contract_type

#### Inspect and Summarize

### Takeaways:
- create new column with strings for contract_type (helps understand what is being encoded later on)
- Encode gender, dependents and partner

In [ ]:
#create new column to describe contract types
df["contract_type"].replace({0: "month_to_month", 1: "one_year", 2: "two_years"}, inplace=True)
df

In [ ]:
#drop duplicates
df.drop_duplicates(inplace=True)

In [ ]:
#encoding columns:
dummy_df = pd.get_dummies(df[['gender', 'dependents', 'partner', 'contract_type', 'payment_type']], dummy_na=False, drop_first=[True, True, True, True])
dummy_df

In [ ]:
#concat to original
df_telco = pd.concat([df, dummy_df], axis=1)
df_telco

In [ ]:
def clean_telco_data(df):
    '''
    Takes in the Telco dataset and cleans & prepares for test, validation and training purposes.
    '''
    #create new column to describe contract types
    df["contract_type"].replace({0: "month_to_month", 1: "one_year", 2: "two_years"}, inplace=True)
    #drop duplicates
    df.drop_duplicates(inplace=True)
    #encoding columns:
    dummy_df = pd.get_dummies(df[['gender', 'dependents', 'partner', 'contract_type', 'payment_type']], dummy_na=False, drop_first=[True, True, True, True])
    #concat to original
    df_telco = pd.concat([df, dummy_df], axis=1)
    return df_telco

In [ ]:
#create a function named prep_telco that accepts the raw telco data, 
#and returns the data with the transformations above applied.
import acquire
df = acquire.google_sheets()
prep_telco= clean_telco_data(df)
prep_telco

### Exploratory Analysis Exercises:

#### Section 1 - iris_db: Using iris data from our mySQL server and the methods used in the lesson above:

- Acquire, prepare & split your data.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split

np.random.seed(123)

#import our iris dataset (cleaned, prepped, and split)
import pandas as pd
import acquire
import prepare

df= acquire.get_iris_data()

df.head()

In [ ]:
#split into train validate and test
train, validate, test = prepare.prep_iris(df)

#### Univariate Stats

- For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

- For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

- Document takeaways & any actions.

In [ ]:
#remember, we are using train to explore!!!
#let's find our descriptive statistics
train.describe().T
#note: our measurement types are below:

In [ ]:
#using species as a columned hue shows us that the petal length has relation to what species it is when it comes to setosa, 
#versicolor and virginica seem fairly similar in petal length size
sns.displot(data=train, x="petal_length", hue="species", label="Petal Length", kde=True)

plt.legend() 
plt.show()

In [ ]:
#the same can be said for petal width; majority of setosa iris species seem to be wider than the other two species
sns.displot(data=train, x="petal_width", hue="species", label="Petal Width", kde=True)
plt.legend() 
plt.show()

In [ ]:
#sepal_width and species do not seem incredibly related
#there is a lot of similar sizes between species here
#however versicolor seems to have more sepal width that are larger than other iris'
sns.displot(data=train, x="sepal_width", hue="species", kde=True)
plt.legend() 
plt.show()

In [ ]:
#sepal_length doesn't seem to be very related to species except that the iris' with the longer sepals tend to be setosa species
sns.displot(data=train, x="sepal_length", hue="species", kde=True)
plt.legend() 
plt.show()

In [ ]:
#this further shows that petal_width is related to the species of iris
import seaborn as sns
sns.boxplot(data=train, x="petal_width", y='species', orient="h", hue="species")

In [ ]:
#this further shows that petal_length is related to the species of iris
import seaborn as sns
sns.boxplot(data=train, x="petal_length", y='species', orient="h", hue="species")

In [ ]:
#creating bar plots for the petal lengths/widths and sepal length/widths
ax = sns.barplot(x="petal_length", y="species", hue="species", data=train)

In [ ]:
ax = sns.barplot(x="petal_width", y="species", hue="species", data=train)

In [ ]:
ax = sns.barplot(x="sepal_length", y="species", hue="species", data=train)

In [ ]:
ax = sns.barplot(x="sepal_width", y="species", hue="species", data=train)

#### Takeaways:
- There seems to be a relation to species and petal length/width
- There does not seem to be a strong relation to species & sepal length/width

## Bivariate Stats
- Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis). ✅ 

- For each measurement type, compute the descriptive statistics for each species. ✅ 

- For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types. ✅ 

- Document takeaways & any actions.

In [ ]:
#Using petal-length (y-axis) and species(x-axis)in barplot:
#with horizontal line at mean()
ax = sns.barplot(x="species", y="petal_length", hue="species", data=train)
ax.axhline(3.75) #petal_length mean

In [ ]:
#Using sepal-length (y-axis) and species(x-axis)in barplot:
ax = sns.barplot(x="species", y="sepal_length", hue="species", data=train)
ax.axhline(5.83) #sepal_length mean

#### Takaways:
Just by looking at these two barplots, it is interesting to note the variances and similarities of data

#finding the means:
- train.sepal_width.mean()
- train.petal_width.mean()
- train.sepal_length.mean()
- train.petal_length.mean()

In [ ]:
#Using petal-width (y-axis) and species(x-axis)in barplot:
#with horizontal line at mean()
ax = sns.barplot(x="species", y="petal_width", hue="species", data=train)
ax.axhline(1.19) #petal_length mean

In [ ]:
#Using sepal-width (y-axis) and species(x-axis)in barplot:
#with horizontal line at mean()
ax = sns.barplot(x="species", y="sepal_width", hue="species", data=train)
ax.axhline(3.06) #petal_length mean

In [ ]:
#For each measurement type, compute the descriptive statistics for each species:
train[train.species == 'virginica'].describe()

In [ ]:
train[train.species == 'setosa'].describe()

In [ ]:
train[train.species == 'versicolor'].describe()

For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.✅

In [ ]:
#creating objects to create subsets of species
setosa= train[train.species=='setosa']
versicolor=train[train.species=='versicolor']
virginica=train[train.species=='virginica']

In [ ]:
#Mann-Whitney test:
t, p = stats.mannwhitneyu(virginica.petal_width, versicolor.petal_width, alternative ='greater')
t, p

#Takeaway:
We reject the null H0 of: there is no relation to virginica and versicolor petal_widths

In [ ]:
# To apply the same to other measurements: create a function!

mw_test = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
#using these as a list to create a loop

for var in mw_test:
    t, p = t, p=stats.mannwhitneyu(virginica.petal_width, versicolor.petal_width, alternative ='greater')
    print(f'Comparing {var.upper()} between viriginica and versicolor')
    print (t, p)
    print('\n')

#### Takeaways:
- Petal length & width are more relational to species type than sepal length & width
- Virginica has the widest petal width and longest petal length

## Multivariate Stats
- ✅ Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species. 

- ✅ Visualize two numeric variables by means of the species. Hint: sns.relplot with hue or col 

- ✅ Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization. 

- ✅ Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance). 

- ✅ Document takeaways and any actions.

In [ ]:
#Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.
sns.set_style("darkgrid")
sns.scatterplot(data=train, x="petal_width", y="petal_length", hue="species",palette ='rocket')

In [ ]:
sns.set_style("darkgrid")
sns.scatterplot(data=train, x="sepal_width", y="sepal_length", hue="species", palette='rocket')

##Takeaways: 
looking at the two scatter plots of sepal size vs petal size furthers show the relation to species and petal sizing

In [ ]:
#Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.
sns.set_theme(style="darkgrid")
ax = sns.swarmplot(x="species", y="petal_length", data=train)

In [ ]:
#Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

Question: Is there a significant difference of area size between Virginica and Versicolor petals?

alpha=0.05

==Hypothesis==

- H0: Petal area between versicolor and virginica iris' are the same size
- Ha: Petal area between versicolor and virginica iris' vary because of their species

In [ ]:
#create objects of the subgroups for virginica petal area and versicolor petal area
vir_p_area=virginica.petal_length * virginica.petal_width
ver_p_area=versicolor.petal_length * versicolor.petal_width

In [ ]:
#apply the Mann_whitney test
t, p = stats.mannwhitneyu(ver_p_area, vir_p_area, method="exact") #using exact method to prove the H0 of them being the same is true...
t, p

In [ ]:
#creating a column for petal areas to catplot:
train['petal_area']=train.petal_length * train.petal_width
train

In [ ]:
sns.catplot(data=train, x='species', y='petal_area', kind='strip')

Conclusion:
    - Based on the p value and the catplot visualization of petal areas:
        - WE REJECT THE NULL HYPOTHESIS

# Exercises Part ll
## Exploring the Titanic dataset

#### Explore your titanic dataset more completely.

- Determine drivers of the target variable
- Determine if certain columns should be dropped
- Determine if it would be valuable to bin some numeric columns
- Determine if it would be valuable to combine multiple columns into one.
- Does it make sense to combine any features?

- Do you find any surprises?

#### Document any and all findings and takeaways in your notebook using markdown.

In [27]:
import prepare
df = prepare.clean_titanic_data(df)
df

NameError: name 'df' is not defined